.img-p1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagen{
    width: 200px;
    height: 250px;
}
.dsp-1{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.stickers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
}
.Flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.stickers img{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
}
.stickers input{
    width: 120px;
    margin-top: 15px;
}

.boton-p2{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    width: 200px;
    height: 30;
}
.pass{
    margin-top: 200px;
    margin-bottom: 200px;
}

